@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@900&display=swap");
body {
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 8px 0 15px -4px #999, -8px 0 15px -4px #999;
}

header,
#teachers,
#statistics,
#about,
footer {
  margin-left: 8.3%;
  margin-right: 8.3%;
}

hr {
  width: 50%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  border-top: 1.5px solid #222;
}

h2 {
  font: 2.3em PT Sans, Segoe UI, Arial, sans-serif;
  margin-bottom: 4%;
}

.star {
  color: #ecec02;
  cursor: pointer;
}

.teacher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.teacher > .star {
  font-size: 120%;
  position: absolute;
  right: 18%;
  top: 3%;
}
.teacher .far {
  transition: 0.2s;
  opacity: 0;
  color: #f3f37a;
}
.teacher .far:hover {
  opacity: 1;
}
.teacher .name {
  width: 60%;
  font: 1.5em PT Sans, Segoe UI, Arial, sans-serif;
}
.teacher .country {
  margin-top: 3%;
  margin-bottom: 20%;
  font: 0.7em PT Sans, Segoe UI, Arial, sans-serif;
}
.teacher a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.teacher a div {
  font: 1.3em PT Sans, Segoe UI, Arial, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f75c49;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px #f99589 solid;
  overflow: hidden;
}
.teacher a div > img {
  width: 105%;
  height: 105%;
  border-radius: 50%;
}
.teacher a div > img,
.teacher a div p {
  transition: 0.6s ease;
  transform: scale(1);
  user-select: none;
}
.teacher a div:hover {
  border-color: #cc4836;
}
.teacher a div:hover > img,
.teacher a div:hover p {
  transform: scale(1.1);
}

h1 {
  color: #fff;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 250%;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-shadow: -0.04em -0.016em #f75c49, 0.04em 0.016em #000;
  margin: 0;
  transition: 0.3s;
  animation: logo-back 0.7s linear;
}
h1:hover {
  animation: logo 0.7s ease infinite alternate;
}

@keyframes logo {
  from {
    text-shadow: -0.04em -0.016em #f75c49, 0.04em 0.016em #000;
    color: #fff;
  }
  to {
    text-shadow: -0.06em -0.016em #f75c49, 0.06em 0.016em #000;
    color: #eee;
  }
}
@keyframes logo-back {
  from {
    text-shadow: -0.06em -0.016em #f75c49, 0.06em 0.016em #000;
    color: #fff;
  }
  to {
    text-shadow: -0.04em -0.016em #f75c49, 0.04em 0.016em #000;
    color: #eee;
  }
}
.add-teacher {
  font-size: 1.5em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.add-teacher,
#search-button {
  text-decoration: none;
  font-weight: bold;
  background-color: #fff;
  color: #f75c49;
  display: block;
  position: relative;
  border: 2px solid #f75c49;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.add-teacher:hover,
#search-button:hover {
  color: #fff;
  background-color: #cc4836;
  background-color: transparent;
  text-shadow: none;
}
.add-teacher::before,
#search-button::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  content: "";
  color: #000;
  background: #f75c49;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.add-teacher:hover::before,
#search-button:hover::before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#header-top {
  padding-top: 3%;
  align-items: center;
  padding-bottom: 5%;
}
#header-top form {
  display: flex;
  align-items: stretch;
}
#header-top form input {
  margin-right: 20px;
  border-radius: 3px;
  border: 2px #767676 solid;
}
#header-top form > button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-header {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}
#nav-header > a {
  text-decoration: none;
  color: #f75c49;
  font: 1.4em PT Sans, Segoe UI, Arial, sans-serif;
}
#nav-header > a:hover {
  color: #cc4836;
}

#filter {
  display: flex;
  margin-bottom: 2%;
}
#filter > label {
  color: #999;
}
#filter > label:hover {
  color: #000;
}
#filter > input {
  appearance: none;
  outline: 1px solid #999;
  width: 15px;
  height: 15px;
  margin-right: 1%;
  transition: 0.4s ease;
}
#filter > input:hover {
  outline: 1px solid #000;
}
#filter > input:checked {
  background-color: #f75c49;
}
#filter #photo-label {
  padding-right: 5%;
  margin-right: 3%;
  border-right: 2px dotted #999;
}
#filter #photo-filter {
  margin-left: 4%;
}

#top-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  margin-left: auto;
  margin-right: auto;
}

.teacher-selected > div {
  border-color: #cc4836;
}

.gender-outer-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.gender-outer-wrap .gender-inner-wrap {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.back-wrap {
  display: flex;
  justify-content: space-between;
}

.first-col {
  text-align: left;
  padding-left: 5%;
}

table {
  width: 100%;
  border-collapse: separate;
}
table th {
  border-bottom: 1px #000 solid;
  padding: 16px 15px;
  text-align: center;
}
table th:hover {
  padding-bottom: 12px;
  border-bottom: 5px #000 solid;
  background-color: #fafafa;
}
table td {
  width: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #f9f5f9;
}

#page-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  width: 18%;
}
#page-nav a {
  text-decoration: none;
  color: #65a3be;
}

#carousel {
  display: flex;
  width: 88%;
  margin: auto;
}
#carousel ul {
  width: 88%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.slider > i {
  color: #888;
  font-size: 80px;
  cursor: pointer;
}
.slider > i:hover {
  color: #000;
}

#about {
  text-align: left;
  font: 1.2em PT Sans, Segoe UI, Arial, sans-serif;
  margin-top: 4%;
  margin-bottom: 2%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;
}

#nav-footer {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}
#nav-footer > a {
  text-decoration: none;
  color: #65a3be;
  font: 1.8em PT Sans, Segoe UI, Arial, sans-serif;
}
#nav-footer > a:hover {
  color: #548eaa;
}

.overlay {
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  display: none;
  padding: auto;
}

.popup {
  position: relative;
  box-shadow: 0 0 8px #000;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.popup::-webkit-scrollbar {
  display: none;
}
.popup p {
  text-align: left;
}
.popup form {
  display: flex;
  flex-direction: column;
  padding: 7%;
}
.popup .close {
  cursor: pointer;
  position: absolute;
  transition: all 200ms;
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #000;
}
.popup .pic-wrap {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}
.popup .pic-wrap .wrapper {
  width: 42%;
  height: 100%;
}
.popup .pic-wrap .wrapper img {
  width: 100%;
}
.popup .pic-wrap .name-wrap {
  margin-left: 4%;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
}
.popup .pic-wrap .name-wrap h3 {
  font: 2.8em PT Sans, Segoe UI, Arial, sans-serif;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.popup .pic-wrap .name-wrap a,
.popup .pic-wrap .name-wrap p {
  font: 1em PT Sans, Segoe UI, Arial, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
}

#popup-form > .popup {
  margin: 40px auto;
  padding: 2% 3%;
  width: 400px;
  max-height: 80%;
  font: 1em PT Sans, Segoe UI, Arial, sans-serif;
}
#popup-form > .popup .close {
  top: 4%;
  right: 6%;
}
#popup-form > .popup form {
  text-align: left;
}
#popup-form > .popup form label,
#popup-form > .popup form input {
  margin-bottom: 3%;
}
#popup-form > .popup form input {
  -moz-appearance: textfield;
}
#popup-form > .popup form input::-webkit-outer-spin-button, #popup-form > .popup form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#popup-form > .popup form button {
  padding-top: 8%;
  padding-bottom: 8%;
  font: 2em PT Sans, Segoe UI, Arial, sans-serif;
  font-weight: bold;
  background-color: #fff;
  color: #f75c49;
  border: 2px solid #f75c49;
}
#popup-form > .popup form button:hover {
  color: #fff;
  background-color: #cc4836;
  border-color: #cc4836;
}

#popup-info > .popup {
  padding: 2% 5%;
  width: 60%;
  max-height: 80%;
}
#popup-info > .popup .star {
  font-size: 160%;
}
#popup-info > .popup .close {
  top: 8%;
  right: 4%;
}
#popup-info > .popup details > summary {
  margin-top: 1%;
  text-align: left;
  list-style: none;
  color: #65a3be;
  text-decoration: dashed underline;
  cursor: pointer;
}
#popup-info > .popup details > summary::-webkit-details-marker {
  display: none;
}

.star-wrap {
  display: flex;
  justify-content: space-between;
}

.blur {
  filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .header-top,
.header-bottom,
#search-header,
nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  #search-header > input {
    margin-bottom: 5%;
  }

  #fav-list {
    flex-direction: column;
    align-items: center;
  }

  .slider {
    display: none;
  }

  #nav-footer {
    min-width: unset;
    height: 2%;
  }

  body {
    box-shadow: unset;
  }
}

/*# sourceMappingURL=style.css.map */
