@media only screen and (max-width: 768px) {
  .header-top,
  .header-bottom,
  .search-header,
  nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  .search-header > .search-input {
    margin-bottom: 5%;
  }

  .teacher-list {
    overflow-x: scroll;
  }

  .slider {
    display: none;
  }

  footer {
    min-width: unset;
    height: 2%;
    align-items: left;
    justify-content: flex-end;
  }

  body {
    box-shadow: unset;
  }
}
