@media only screen and (max-width: 768px) {
  body {
    box-shadow: unset;
  }

  .header__form,
  .header__menu,
  .header__search,
  .header__nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }

  .search-header .search-input {
    margin-bottom: 5%;
  }

  .teacher__list {
    overflow-x: scroll;
  }

  .slider {
    display: none;
  }

  .footer {
    min-width: unset;
    height: 2%;
    align-items: left;
    justify-content: flex-end;
  }
}
