.popup-info__window {
  padding: 2% 5%;
  width: 60%;
  max-height: 80%;
  text-align: left;

  .popup__close {
    top: 8%;
    right: 4%;
  }

  .popup-info__card {
    display: flex;
    width: 100%;
    margin-bottom: 4%;

    .popup-info__card-img {
      width: 42%;
      height: 100%;
      max-width: 300px;
      margin-right: 4%;
    }

    .popup-info__card-info {
      width: 50%;

      .popup-info__name-star {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .popup-info__fullname {
          font: 2em PT Sans, Segoe UI, Arial, sans-serif;
        }

        .icon-star {
          font-size: 2rem;
        }
      }

      .popup-info__card-fields {
        display: flex;
        flex-direction: column;
        margin-top: 15%;

        .popup-info__field {
          font: 1.2em PT Sans, Segoe UI, Arial, sans-serif;
          height: 100%;
          margin: {
            bottom: 2%;
          }

          text-decoration: none;
        }
      }
    }
  }

  .popup-info__map {
    .popup-info__map-summary {
      margin-top: 1%;
      text-align: left;
      list-style: none;
      color: $sexy-blue;
      text-decoration: dashed underline;
      cursor: pointer;

      &::-webkit-details-marker {
        display: none;
      }

      &:hover {
        color: $hover-blue;
      }
    }

    .popup-info__map-item {
      width: 100%;
      height: 300px;
    }
  }
}
