.first-col {
  text-align: left;
  padding-left: 5%;
}

.stats-table {
  width: 100%;
  border-collapse: separate;

  th {
    border-bottom: 1px #000 solid;
    padding: 16px 15px;
    text-align: center;

    &:hover {
      padding-bottom: 12px;
      border-bottom: 5px #000 solid;
      background-color: #fafafa;
    }
  }

  td {
    width: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f9f5f9;
  }
}

#page-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  width: 18%;

  a {
    text-decoration: none;
    color: #65a3be;
  }
}
