.filter {
  display: flex;
  margin-bottom: 2%;

  label {
    color: #999;

    &:hover {
      color: #000;
    }
  }

  input {
    appearance: none;
    outline: 1px solid #999;
    width: 15px;
    height: 15px;
    margin-right: 1%;
    transition: 0.4s ease;

    &:hover {
      outline: 1px solid #000;
    }

    &:checked {
      background-color: $sexy-orange;
    }
  }

  .photo-label {
    padding-right: 5%;
    margin-right: 3%;
    border-right: 2px dotted #999;
  }

  .photo-filter {
    margin-left: 4%;
  }
}

.teacher-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin: {
    left: auto;
    right: auto;
  };
}
