.filter {
  display: flex;
  margin-bottom: 2%;

  .filter__label {
    color: #999;

    &:hover {
      color: #000;
    }
  }

  .filter__input {
    appearance: none;
    outline: 1px solid #999;
    width: 15px;
    height: 15px;
    margin-right: 1%;
    transition: 0.4s ease;

    &:hover {
      outline: 1px solid #000;
    }

    &:checked {
      background-color: $sexy-orange;
    }
  }

  .filter__photo-label {
    padding-right: 5%;
    margin-right: 3%;
    border-right: 2px dotted #999;
  }

  .filter__photo {
    margin-left: 4%;
  }
}

.teacher__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin: unset auto;
}
